h1{

	font-family: indie flower;
	font-size: 2em;
	text-decoration: underline;
	text-align: center;
}
	

}

body{
	font-size: 20px;

}
	

span{
	font-size: 4em;
}

p{
	line-height: 100px;
	font-weight: bold;

	font-family: Baskervville;
}